.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #f7f9fc;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: bold;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: white;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px 15px;
    text-align: left;
}

th {
    background-color: #e6e6e6;
}

tr:hover {
    background-color: #f5f5f5;
}

button {
    display: inline-flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin: 0 5px;
    font-size: 0.9em;
    transition: background-color 0.2s;
}

button i {
    margin-right: 5px; /* espacio entre el ícono y el texto */
}

.btn-add {
    background-color: #28a745;
    color: white;
}

.btn-add:hover {
    background-color: #218838;
}

.btn-edit {
    background-color: #007BFF;
    color: white;
}

.btn-edit:hover {
    background-color: #0056b3;
}

.btn-delete {
    background-color: #dc3545;
    color: white;
}

.btn-delete:hover {
    background-color: #c82333;
}

table th:nth-child(4), table td:nth-child(4) {
    text-align: center; /* Centra el contenido de la columna de acciones */
    min-width: 200px; /* Ajusta este valor según la suma de los anchos de tus botones */
}

/* Estilos para la sección de filtro */
.filter-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.filter-section label {
    font-size: 1em;
    font-weight: bold;
    margin-right: 10px;
}

.filter-section input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
